[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.19"
djangorestframework = "*"
uwsgi = "==2.0.19.1"
djangorestframework-simplejwt = "*"
django-environ = "==0.9.0"
pillow = "==9.5.0"
django-summernote = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.7"
